body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}


a {
    color: #4CAF50;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav li {
    margin: 0 15px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.curupira-logo img {
    width: 60%;
    height: auto;
    opacity: 0.7;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-text h2 {
    margin: 0;
    font-size: 2.5em;
}

section {
    padding: 40px 20px;
    text-align: center;
}

#menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#menu li {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contact Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input,
form textarea {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

footer li {
    margin: 0 10px;
}
